<script type="text/javascript">
  var _gaq = _gaq || [];
  {% for googleanalytics_id in googleanalytics_ids %}
  _gaq.push(['_setAccount', '{{googleanalytics_id}}']);
  _gaq.push(['_setDomainName', 'auto']);
  _gaq.push(['_trackPageview']);
  {% endfor %}
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>